$base-black-color: #000;
$base-white-color: #fff;
$base-grey-color: #999;
$base-blue-color: #4a90e2;

$base-text-color: #666;

$bg-grey-color: #e6e6e6;
$bg-grey-light-color: #f2f2f2;
$bg-white-color: #fff;